html, body {
    height: 100%;
    margin: 0;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #F3F5FC;
    min-height: 100vh;
}

.container h1{
    position: absolute;
    top: 3%;
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;    
}

.texto::placeholder{
    color: #0a3871;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
    color: #0a3871;
}

.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none; 
    order: 1;
    flex-grow: 0;   
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 83%;
    padding-right: 5%;
}

.botones button:first-child{
    margin-right: 20px;
}

.btn-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.btn-desencriptar{
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    /* margin: 0 0 0 20px; */
    gap: 8px;
    width: 25%;
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;  
}

.btn-encriptar:hover,
.btn-desencriptar:hover{
    margin: .3%;
    width: 24.5%;
    padding: 1.8%;
}

.btn-encriptar:active{
    background-color: #0f52a5;
}

.btn-desencriptar:active{
    background-color: #bec0c4; 
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.boton{
    margin: 770px;
}

.btn-copiar{
    display: none;
    box-sizing:flex;
    align-content: 300px;
    flex-direction: row;
    padding: 5% 5% 5% 5%;
    width: 240px;
    height: 55px;
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #0a3871;    
}

.btn-copiar:hover{
    margin: .3%;
    width: 230px;
    padding: 3.5% 2% 3.5% 1.5%;
}

.btn-copiar:active{
    background-color: #bec0c4; 
}

.no_encontrado{
/*      */
    display: flex;
    flex-wrap: wrap;
/*     width: 40%; */
}

.salida{
    position: absolute;
    width: 90%;
    height: 60%;
    left: 5%;
    top: 3%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    vertical-align: middle;
    color: #0a3871;
    background-color: #FFF;
    display: none; 
}

.salida:focus,
.salida:active {
    border: none;
    outline: none;
    color: #0a3871;
}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado input{
    display: block;
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    top: 65%;
    text-align: center;
    color: #343a40;
    border: none;   
    outline: none;
}

.mensaje-encriptado p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}


/* Responsive desing */
@media (max-width: 57.5em) {

    html, body {
        height: 100%;
        margin: 0;
        background-color: #F3F5FC;
    }

    .container{
        align-content: center;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .logo{
        display: flex;
        left: 8%;
        top: -30%;
        scale: 70%;
    }

    .encriptar{
        width: 100%;
    }

    .encriptar textarea{
        font-size: 25px;
        align-content: center;
        top: 10%;
    }

    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .terminos p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 75%;
    }
    .btn-encriptar,
    .btn-desencriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover,
    .btn-desencriptar:hover{
        margin: .3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado{
        width: 90%;
        height: 35%;
        left: 5%;
        top: 81%;
    }

    .mensaje-encriptado{
        width: 100%;
        top: 5%;
        text-align: center;
    }

    #tituloMensaje{
        width: 90%;
        vertical-align: middle;
        padding: 10px;        
    }

    .boton{
        margin: 155px;
    }

    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}
